div {
    margin: 2rem;
  }
  
  .question-tracker {
    font-size: 1.5rem;
    color: #484e78;
    margin-bottom: 2rem;
    font-family: 'PT Serif', serif;
  }

  .results {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #484e78;
  }
  
  .score {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 600;
    color: #ba99c0;
  }